donate-panel
    max-width 60rem
    display block
    padding 1.5rem 3rem
    margin 0 auto
    box-sizing border-box
    i.big
        font-size 3rem
        line-height 3rem
        opacity 0.35
    p.big
        font-size 1.5rem
        line-height 2rem
.aPatronList
    display flex
    flex-flow row wrap
    align-items top
    justify-content center
.aPatron
    flex 0 0 auto
    width 8rem
    text-align center
.anAvatar
    width 6rem
    height 6rem
    margin 1rem auto
    border-radius 100%
    background-size cover
    background-position center center