frame-bar
    background bglight 
    position fixed
    z-index 100500
    top 0
    left 0
    width 100%
    height 1.5rem
    -webkit-app-region drag
    border 1px solid borders
    box-sizing border-box
    .flexrow button 
        -webkit-app-region no-drag
        margin 0
        border 0
        flex 0 0 auto
        border-radius 0
        padding 0 1.5rem
        height (1.5rem - twopx)
        line-height 0
        i
            font-size 14px !important