icon-selector 
    display inline-block
    position relative
    .options
        width 12rem
    .option
        padding 0.5rem
        display inline-block
        box-sizing border-box
        text-align center
        cursor pointer
        border-radius br
        {trans}
        &.active
            color cyan
        &:hover
            {bs}
            background borders
            color white