locker-screen
    .dimmer
        background bgcolor
        z-index 100501
    form
        width 30rem
        margin auto
    button
        margin-top 2rem
    input
        font-size 2rem
        line-height 3rem