settings-panel
    display block
    padding 1.5rem 3rem
    max-width 21cm
    margin 0 auto
    box-sizing border-box

.LanguageCards
    display flex
    flex-flow row wrap
    margin 0 -(1rem - twopx)
    
.aLanguageCard, .LanguageCards .spacer
    margin 0 (1rem - twopx)
    flex 1 1 17rem
    box-sizing border-box
    border twopx solid transparent
.aLanguageCard
    margin (1rem - twopx)
    padding 1rem
    border twopx solid borders
    text-align center
    border-radius br
    b
        font-size 4rem
        display inline-block
        line-height 3rem
        margin 1.5rem
        {magic}
    span
        display block
    cursor pointer
    {trans}
    &:hover
        border-color magenta
.aTimeTrackerField.aTimeTrackerField
    width 5rem