
@font-face {
  font-family: 'icomoon';
  src: url('/data/fonts/icomoon.woff?mwjaeh') format('woff');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
}

.icon-close-14:before {
  content: "\e974";
}
.icon-maximise-14:before {
  content: "\e975";
}
.icon-minimise-14:before {
  content: "\e976";
}
.icon-restore-14:before {
  content: "\e977";
}
.icon-unformat:before {
  content: "\e96c";
}
.icon-superscript:before {
  content: "\e96d";
}
.icon-subscript:before {
  content: "\e96e";
}
.icon-formula:before {
  content: "\e96f";
}
.icon-blockquote:before {
  content: "\e923";
}
.icon-code-inline:before {
  content: "\e924";
}
.icon-ol:before {
  content: "\e925";
}
.icon-stroke:before {
  content: "\e926";
}
.icon-translate:before {
  content: "\e978";
}
.icon-alert-circle:before {
  content: "\e900";
}
.icon-align-center:before {
  content: "\e969";
}
.icon-align-justify:before {
  content: "\e970";
}
.icon-align-left:before {
  content: "\e96a";
}
.icon-align-right:before {
  content: "\e96b";
}
.icon-arrow-down:before {
  content: "\e901";
}
.icon-arrow-down-left:before {
  content: "\e902";
}
.icon-arrow-down-right:before {
  content: "\e903";
}
.icon-arrow-left:before {
  content: "\e904";
}
.icon-arrow-right:before {
  content: "\e905";
}
.icon-arrow-up:before {
  content: "\e906";
}
.icon-at-sign:before {
  content: "\e907";
}
.icon-bell:before {
  content: "\e908";
}
.icon-bell-off:before {
  content: "\e909";
}
.icon-bold:before {
  content: "\e90a";
}
.icon-book:before {
  content: "\e90b";
}
.icon-book-open:before {
  content: "\e90c";
}
.icon-calendar:before {
  content: "\e90d";
}
.icon-camera:before {
  content: "\e90e";
}
.icon-check:before {
  content: "\e90f";
}
.icon-check-square:before {
  content: "\e910";
}
.icon-chevron-down:before {
  content: "\e911";
}
.icon-chevron-left:before {
  content: "\e912";
}
.icon-chevron-right:before {
  content: "\e913";
}
.icon-chevron-up:before {
  content: "\e914";
}
.icon-chevrons-down:before {
  content: "\e915";
}
.icon-chevrons-left:before {
  content: "\e916";
}
.icon-chevrons-right:before {
  content: "\e917";
}
.icon-chevrons-up:before {
  content: "\e918";
}
.icon-clipboard:before {
  content: "\e919";
}
.icon-clock:before {
  content: "\e91a";
}
.icon-code:before {
  content: "\e91b";
}
.icon-copy:before {
  content: "\e91c";
}
.icon-crop:before {
  content: "\e91d";
}
.icon-delete:before {
  content: "\e968";
}
.icon-dollar-sign:before {
  content: "\e971";
}
.icon-download:before {
  content: "\e91e";
}
.icon-droplet:before {
  content: "\e91f";
}
.icon-edit:before {
  content: "\e920";
}
.icon-edit-2:before {
  content: "\e921";
}
.icon-edit-3:before {
  content: "\e922";
}
.icon-external-link:before {
  content: "\e927";
}
.icon-eye:before {
  content: "\e928";
}
.icon-eye-off:before {
  content: "\e929";
}
.icon-facebook:before {
  content: "\e92a";
}
.icon-file:before {
  content: "\e92b";
}
.icon-file-plus:before {
  content: "\e92c";
}
.icon-file-text:before {
  content: "\e92d";
}
.icon-film:before {
  content: "\e92e";
}
.icon-folder:before {
  content: "\e92f";
}
.icon-folder-minus:before {
  content: "\e930";
}
.icon-folder-plus:before {
  content: "\e931";
}
.icon-gift:before {
  content: "\e932";
}
.icon-github:before {
  content: "\e933";
}
.icon-gitlab:before {
  content: "\e934";
}
.icon-globe:before {
  content: "\e935";
}
.icon-hash:before {
  content: "\e936";
}
.icon-heart:before {
  content: "\e937";
}
.icon-home:before {
  content: "\e938";
}
.icon-image:before {
  content: "\e939";
}
.icon-info:before {
  content: "\e93a";
}
.icon-italic:before {
  content: "\e964";
}
.icon-layout:before {
  content: "\e965";
}
.icon-life-buoy:before {
  content: "\e93b";
}
.icon-link:before {
  content: "\e93c";
}
.icon-link-2:before {
  content: "\e93d";
}
.icon-list:before {
  content: "\e93e";
}
.icon-lock:before {
  content: "\e979";
}
.icon-log-in:before {
  content: "\e97a";
}
.icon-log-out:before {
  content: "\e97b";
}
.icon-mail:before {
  content: "\e93f";
}
.icon-maximize:before {
  content: "\e940";
}
.icon-maximize-2:before {
  content: "\e941";
}
.icon-menu:before {
  content: "\e942";
}
.icon-message-square:before {
  content: "\e943";
}
.icon-minimize:before {
  content: "\e944";
}
.icon-minimize-2:before {
  content: "\e945";
}
.icon-minus:before {
  content: "\e946";
}
.icon-monitor:before {
  content: "\e947";
}
.icon-more-horizontal:before {
  content: "\e948";
}
.icon-more-vertical:before {
  content: "\e949";
}
.icon-move:before {
  content: "\e94a";
}
.icon-paperclip:before {
  content: "\e94b";
}
.icon-pause:before {
  content: "\e94c";
}
.icon-play:before {
  content: "\e94d";
}
.icon-plus:before {
  content: "\e966";
}
.icon-power:before {
  content: "\e97c";
}
.icon-printer:before {
  content: "\e94e";
}
.icon-refresh-cw:before {
  content: "\e972";
}
.icon-rss:before {
  content: "\e94f";
}
.icon-save:before {
  content: "\e950";
}
.icon-search:before {
  content: "\e951";
}
.icon-settings:before {
  content: "\e952";
}
.icon-share-2:before {
  content: "\e953";
}
.icon-shield:before {
  content: "\e954";
}
.icon-sliders:before {
  content: "\e955";
}
.icon-square:before {
  content: "\e956";
}
.icon-star:before {
  content: "\e957";
}
.icon-tag:before {
  content: "\e967";
}
.icon-terminal:before {
  content: "\e958";
}
.icon-trash:before {
  content: "\e959";
}
.icon-trash-2:before {
  content: "\e95a";
}
.icon-twitter:before {
  content: "\e95b";
}
.icon-type:before {
  content: "\e95c";
}
.icon-underline:before {
  content: "\e95d";
}
.icon-unlock:before {
  content: "\e97d";
}
.icon-upload:before {
  content: "\e973";
}
.icon-user:before {
  content: "\e95e";
}
.icon-users:before {
  content: "\e95f";
}
.icon-volume-2:before {
  content: "\e960";
}
.icon-volume-x:before {
  content: "\e961";
}
.icon-x:before {
  content: "\e962";
}
.icon-x-square:before {
  content: "\e963";
}
