kanban-3rdparty
    display block
    height 100%
    & > .flexfix
        height 100%
    iframe
        background white
        border 0
.kanban-3rdparty-aNavigator
    height 3.5rem
    input, button
        border-radius 0
        margin 0
    button + button
        margin-left (0 - twopx)
    button
        width 3.5rem
