kanban-labels-editor
    .aLabelRow
        display grid
        grid-template-columns 3rem auto 5rem 15rem 3rem
        grid-gap 0.5rem
        align-items center
    twemoji-picker
        .select
            width 5rem
            padding 0.375rem 2rem 0.375rem 0.5rem
            &::after
                right 0.8rem