theme = 'Dark';

ff = 'Lato', sans-serif
fhead = 'Lato', sans-serif
fmono = Consolas, Fira Mono, Ubuntu Mono, monospace
fsize = 16px

cyan = #52BAD5
magenta = #52BAD5
yellow = #D5C856
red = #EB5542
green = #5BD660
blue = #4E3CD6
orange = #D69458
grey = #b4b1bd
bgcolor = desaturate(#0f0e1d, 100%)
bglight = desaturate(#231329, 100%)
borders = desaturate(lighten(bglight, 15%), 25%)
ctext = #e6e6e2
cdarktext = #545258

@require 'index.styl'